{% extends 'layout.html' %}
{% block title %}Diagnóstico Celular{% endblock %}
{% block content %}

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="position:fixed;top:0;width:100%">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" title="...">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/" style="font-size:28px">🧬 Inicio</a>
                    </li>
                    {% if user_role == "doctor" %}
                        <li class="nav-item">
                            <a class="nav-link" href="/register" style="font-size:28px">📋 Nuevo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pacient_list" style="font-size:28px">🙋‍♂️ Pacientes</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" style="font-size:28px">⛔ Desconectar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid content_body" style="width:100%">

        <div class="container-fluid" style="display:flex;flex-direction: row;gap:3px;justify-content: center;flex-wrap: wrap;">
            <div class="cristal" style="padding:5px;border-radius: 8px;">
                <!-- Carrusel -->
                <div id="citologias_img" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        {% for image in images %}
                            <button type="button" data-bs-target="#citologias_img" data-bs-slide-to="{{ loop.index0 }}" class="{{ 'active' if loop.index == 1 else '' }}" title="{{ image.image_path }}"></button>
                        {% endfor %}
                    </div>
            
                    <div class="carousel-inner">
                        {% for image in images %}
                            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                                <img src="{{ url_for('static', filename=image.image_path) }}" alt="Imagen {{ loop.index }}" class="d-block w-100 rounded" style="width:500px !important">
                                <!-- Mostrar detalles de la imagen -->
                                <div class="carousel-caption d-none d-md-block">
                                    <p><strong>Categoría:</strong> {{ image.categoria.value or '-'}}</p>
                                    <p><strong>Probabilidad:</strong> {{ image.probabilidad if image.probabilidad is not none else '-' }}{% if image.probabilidad is not none %}%{% endif %}</p>
                                    <p><strong>Fecha de revisión:</strong> {{ image.fecha_revision or '-'}}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                
                    <!-- https://icons.getbootstrap.com/ -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#citologias_img" data-bs-slide="prev">
                        <i class="bi bi-caret-left-square-fill" style="color:red;font-size:24px"></i>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#citologias_img" data-bs-slide="next">
                        <i class="bi bi-caret-right-square-fill" style="color:red;font-size:24px"></i>
                    </button>
                </div>
            </div>
            <div class="cristal" style="border-radius: 8px;">
                <div class="table-responsive" style="max-height:300px">
                    <table class="table table-hover">
                        <thead>
                            <th class="text-center">ASCUS</th>
                            <th class="text-center">BAJOGRADO</th>
                            <th class="text-center">ALTOGRADO</th>
                            <th class="text-center">BENIGNA</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="container-fluid" style="display:flex;flex-direction: column;">
                                        {% for image in images %}
                                            {% if image.categoria.value == 'ascus'%}
                                                <span style="font-size:10px;font-weight:bold" class="text-center">{{image.image_name}}</span>
                                                <span style="font-size:10px" class="text-center">{{image.probabilidad}}</span>
                                                <img src="{{ url_for('static', filename=image.image_path) }}" alt="Imagen {{ loop.index }}" style="margin:3px;width:100px">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </td>
                                <td>
                                    <div class="container-fluid" style="display:flex;flex-direction: column;">
                                        {% for image in images %}
                                            {% if image.categoria.value == 'bajogrado'%}
                                                <span style="font-size:10px;font-weight:bold" class="text-center">{{image.image_name}}</span>
                                                <span style="font-size:10px" class="text-center">{{image.probabilidad}}</span>
                                                <img src="{{ url_for('static', filename=image.image_path) }}" alt="Imagen {{ loop.index }}" style="margin:3px;width:100px">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </td>
                                <td>
                                    <div class="container-fluid" style="display:flex;flex-direction: column;">
                                        {% for image in images %}
                                            {% if image.categoria.value == 'altogrado'%}
                                                <span style="font-size:10px;font-weight:bold" class="text-center">{{image.image_name}}</span>
                                                <span style="font-size:10px" class="text-center">{{image.probabilidad}}</span>
                                                <img src="{{ url_for('static', filename=image.image_path) }}" alt="Imagen {{ loop.index }}" style="margin:3px;width:100px">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </td>
                                <td>
                                    <div class="container-fluid" style="display:flex;flex-direction: column;">
                                        {% for image in images %}
                                            {% if image.categoria.value == 'benigna'%}
                                                <span style="font-size:10px;font-weight:bold" class="text-center">{{image.image_name}}</span>
                                                <span style="font-size:10px" class="text-center">{{image.probabilidad}}</span>
                                                <img src="{{ url_for('static', filename=image.image_path) }}" alt="Imagen {{ loop.index }}" style="margin:3px;width:100px">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container" style="display: flex;flex-direction: column;justify-content: center;">
                    <div style="color:white;text-align: left;">
                        <strong>{{ pacient_user.username }} {{ pacient_user.lastname }} / {{edad_paciente}} años</strong>
                    </div>
                    <div>
                        <form action="/update_cid/{{cid}}/{{uid}}" method="post" enctype="multipart/form-data" style="margin-bottom:10px">
                            <textarea class="form-control" name="comment" rows="4" cols="50" placeholder="Indique una observación..." style="margin-bottom:10px;width:500px">{{observacion}}</textarea>
                            <button class="btn btn-dark" type="submit">Comentar</button>
                            <a class="btn btn-dark" href="/pacient_page/{{uid}}" style="margin:5px;" title="Regresar a las citologías del usuario">⬅️ Atrás</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    
{% endblock %}
