{% extends 'layout.html' %}
{% block title %}Diagnóstico Celular{% endblock %}
{% block content %}
    <div class="container-fluid main_body">
        <div class="container-fluid app_title" style="display:flex;flex-direction: column;">
            <a href="/login" style="display:block;text-decoration: none; color:white"> Plataforma para el análisis y diagnóstico de las células cervicovaginales</a>
            <div class="arrow"><img src="{{ url_for('static', filename='images/arrow.png') }}" alt='TreeSys' width=50></div>
        </div>
    </div>
{% endblock %}