{% extends 'layout.html' %}
{% block title %}Auth{% endblock %}
{% block content %}

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a><img src="{{ url_for('static', filename='images/celulas.ico') }}" alt='Celulas' width=50>"
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" title="...">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/" style="font-size:36px">🏠 Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="max-width: 50%;">
        <div class='container-fluid p-1 text-white text-center' style='border-radius:8px;margin-top:20px;font-family: "OCR-A", monospace; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);'>
            <form class="form form-control" action='/login' method='post' enctype='multipart/form-data'>
                <div class='container-fluid' style='display:flex;flex-direction:column'>
                    <label for="usermail" style="text-align: left;font-weight: bold;">Usuario</label>
                    <input class="form form-control" type="email" id="usermail" name="usermail" required>
                    <br>
                    <label for="password" style="text-align: left;font-weight: bold;">Contraseña</label>
                    <input class="form form-control" type="password" id="password" name="password" required>
                    <br>
                    <button class="btn btn-success" type="submit">Iniciar sesión</button>
                    <br>
                    <!-- Enlace para usuarios sin cuenta -->
                    <a href="/register" style="color: #007bff; text-decoration: none;text-align: left;">Aún no creo mi cuenta...</a>
                </div>
            </form>
        </div>
    </div>
    
{% endblock %}