{% extends 'layout.html' %}
{% block title %}Pacientes{% endblock %}
{% block content %}

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="position:fixed;top:0;width:100%">
        <div class="container-fluid">
            <!--a class="navbar-brand" href="#"></a><img src="{{ url_for('static', filename='images/celulas.ico') }}" alt='Celulas' width=50-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" title="...">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/" style="font-size:28px">🧬 Inicio</a>
                    </li>
                    {% if user_role == "doctor" %}
                        <li class="nav-item">
                            <a class="nav-link" href="/register" style="font-size:28px">📋 Nuevo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pacient_list" style="font-size:28px">🙋‍♂️ Pacientes</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" style="font-size:28px">⛔ Desconectar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='container-fluid content_body' style='border-radius:8px;font-family: "OCR-A", monospace'>
        <div class="container-fluid cristal" style="max-width:1200px;border-radius:8px;margin-top:65px">

            {% if user_role == "paciente" %}
                <div class='container-fluid' style='padding:0px;margin-top:10px'>
                    <h3 style="color:white">Bienvenido, 🪪 {{ user.username }} {{ user.lastname }}!</h3>
                </div>
                <br/>
                <h1 style="color:white"> Historial del paciente</h1>
            {% endif %}

            <div class='table-responsive' style='display:flex;flex-direction:column;padding:10px'>
                <br>
                <form class="form form-control" action="/update_user/{{user.id}}" method="post">
                    <table class="table table-hover table-stripped table-light table-borderless">
                        <tbody>
                            <tr>
                                <td>
                                    <span><strong>Paciente:</strong>{{ user.username }}</span>
                                </td>
                                <td>
                                    <strong>DNI:</strong><input class="form-control" type="text" id="dni" name="dni" placeholder="ID" value="{{ user.dni }}">
                                </td>
                                <td>
                                    <strong>Dirección:</strong><input class="form-control" type="text" id="address" name="address" value="{{ user.address }}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span><strong>Historial:</strong>-</span>
                                </td>
                                <td>
                                    <strong>Telefono:</strong><input class="form-control" type="number" id="phone_number" name="phone_number" value="{{ user.phone_number }}">
                                </td>
                                <td>
                                    <span><strong>Email:</strong>{{ user.usermail }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span><strong>Edad:</strong>{{user.calcular_edad()}}</span>
                                </td>
                                <td>
                                    <span>-</span>
                                </td>
                                <td>
                                    <span>-</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
    
            {% if user_role == "doctor" %}
                <div class="container-fluid" name="nueva_citologia">
                    <button class="btn btn-info bnt-sm" data-bs-toggle="collapse" data-bs-target="#new_cit">🗓️ Nueva Citología</button>
                    <a class="btn btn-info btn-md" href="/pacient_list">🙋‍♂️ Pacientes</a>
                    <div id="new_cit" class="collapse" style="margin-top:25px">
                        <form action="/upload" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="citologia-date" class="form-label text-white">Fecha de la citología</label>
                                <input type="date" class="form-control" id="citologia-date" name="citologia-date" required />
                                <br />
                        
                                <label for="citologia-code" class="form-label text-white">Código de la citología</label>
                                <input type="text" class="form-control" id="citologia-code" name="citologia-code" value="{{user.usermail}}" readonly/>
                                <br />

                                <label for="citologia-lab" class="form-label text-white">Laboratorio</label>
                                <input type="text" class="form-control" id="citologia-lab" name="citologia-lab"/>
                                <br />

                                <label for="citologia-images" class="form-label text-white">Subir imágenes</label>
                                <input type="file" class="form-control" id="citologia-images" name="citologia-images" accept="image/*" multiple required />
                                <br />
                        
                                <!-- CODIGO OCULTO DEL PACIENTE -->
                                <input type="hidden" class="form-control" id="pacient_id" name="pacient_id" value="{{user.id}}" readonly/>

                                <button class="btn btn-success w-100" type="submit" style="max-width: 100px">Crear</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
    
            <div class="container-fluid" style="margin-top:25px">
                <div class="table-responsive">
                    <table class="table table-hover table-stripped table-light table-borderless">
                        <thead class="table-primary">
                            <tr>
                                <th>
                                    <span>Fecha</span>
                                </th>
                                <th>
                                    <span>Citologia</span>
                                </th>
                                <th>
                                    <span>Diagnóstico</span>
                                </th>
                                <th>
                                    <span>Laboratorio</span>
                                </th>
                                <th>
                                    <span>Observación</span>
                                </th>
                                <th>
                                    <span>Informe</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for citologia in citologias %}
                                <tr>
                                    <td>{{ citologia.fecha }}</td>
                                    <td><a class="badge bg-info" style="cursor:pointer" href="/show_image/{{citologia.id}}/{{user.id}}" title="Haga click para ver las imágenes de esta citología">{{ citologia.folder }}</a></td>
                                    <td>{{ citologia.diagnostico }}</td>
                                    <td>{{ citologia.laboratorio }}</td>
                                    <td>{{ citologia.observacion }}</td>
                                    <td><button class="btn btn-success btn-sm">Descargar</button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}