
body{
    /*background-color: #053462 !important;*/
    background-color: white !important;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.main_body {
    min-height: 100vh; /* Ocupar al menos el alto de la pantalla */
    display: flex;
    flex-direction: column; /* Asegura que los hijos se apilen correctamente */
    justify-content: center; /* Centrar contenido si es necesario */
    align-items: center; /* Centrar horizontalmente si es necesario */
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-color: var(--homeMenu-bg-color, #e7e9ed) !important;
    background-image: var(--homeMenu-bg-image, url('/static/images/index.png')) !important;
}

.app_title {
    color: white;
    position: fixed;
    top: 0;
    margin-top: 20px;
    font-size: 38px;
    font-weight: bold;
    text-decoration: none;
    transition: transform 1s ease;
}
.app_title:hover{
    text-decoration: none;
    color: white;
    transform: scale(0.8);
}

/* Efecto flecha centellante */
.arrow {
    position: fixed;
    top: 100px; /* Ajusta esta posición para que quede debajo del texto */
    left: 50%;
    transform: translateX(-50%); /* Centra la flecha */
    font-size: 30px;
    animation: blink 1s infinite; /* Animación de parpadeo */
    margin-top: 10px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}