
body{
    /*background-color: #053462 !important;*/
    background-color: white !important;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.cristal {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.main_body {
    min-height: 100vh; /* Ocupar al menos el alto de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-color: var(--homeMenu-bg-color, #e7e9ed) !important;
    background-image: var(--homeMenu-bg-image, url('/static/images/index.png')) !important;
}

.content_body {
    min-height: 100vh; /* Ocupar al menos el alto de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*margin-top:100px;*/
    align-items: center;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-color: var(--homeMenu-bg-color, #e7e9ed) !important;
    background-image: var(--homeMenu-bg-image, url('/static/images/bg_cells_2.png')) !important;
}

.app_title{
    color: white;
    /*position: fixed;*/
    top: 0;
    margin-top: 20px;
    font-size: 38px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: transform 1s ease;
}

.app_title:hover{
    cursor:pointer;
    text-decoration: none;
    color: white;
    transform: scale(0.8);
}

/* Efecto flecha centellante */
.arrow {
    position: relative;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    animation: blink 1s infinite alternate;
    margin-top: 10px;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* Efecto para miniimagenes*/
.mini_image {
    transition: transform 0.3s ease-in-out;
}

.mini_image:hover {
    transform: scale(1.1);
}

/* Truncar direcciones*/

.text-truncate {
    display: inline-block;
    max-width: 150px; /* Ajusta según necesidad */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
